# Ignore virtual environment
venv/
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore log files
#logs/
#*.log

# Ignore datasets
data/raw/
#credit_card_fraud_cleaned.csv
data/cleaned/eurusd_fx_cleaned.csv
data/cleaned/spy_stock_cleaned.csv
data/cleaned/credit_card_fraud_cleaned.csv
#  data/processed/


# Ignore any OS-specific files
.DS_Store
Thumbs.db
